<style>
table, th, td {
  border: 1px solid;
}
</style>

<h1>Home#index</h1>

<H3>Logged in as:</H3>

<table>
  <tr>
    <td>
      user:
    </td>
    <td>
      <%= current_user.email %>
    </td>
  </tr>
  <tr>
    <td>
      created since:
    </td>
    <td>
      <%=
      current_user.created_at 
      %>
    </td>
  </tr>
  <tr>
    <td>
      last update:
    </td>
    <td>
      <%= 
      current_user.updated_at 
      %>
    </td>
  </tr>
</table>
